*.pyc
tmp/
*.db
.vscode/
data/
migrations/
Pipfile.lock

static/tmp/
*.pyc
*.tmp
data/tmp/
*.tbd
tmp/

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/
config.py
config.py*
gunicorn_config.py
config.yml
logs/
