<div class="container-fluid">
    <table width="100%" class="table table-striped table-hover table-sm">
        <thead class="table-light">
            <tr>
                {% for head in table.heads %}
                <th scope="col">{{head}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
            <tr>
                {% for col in row %}
                <td>{{col}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script lang="javascript">
$(document).ready(function(){
    $('table').DataTable(
        {
            "pageLength": 25,
        }
    );
});
</script>